.intro1 {
    background: url(https://cdn.mos.cms.futurecdn.net/izXa9hiiSTbnNtwSp2ixKC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
  padding: 120px 0;
  
}

.container-timeline2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
  }

  .div1 {
    border: 1px solid rgba(226,226,226,1);
    padding: 8px;
  }

  .div3 {
      background: url(https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/pia23133-16.gif?itok=Q4OGNPOK);
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 220px;
  }

  .iconsmissions {

    float:right;
}


.iconsmissions i {
    font-size: 20px;
    padding: 2px;
}


  .btn2 {
    color: black !important;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid black !important;
    border-radius: 6px;
      display: inline-block;
      
    }
  
    .btn2:hover {
        color: black !important;
        background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-color: black !important;
              transition: all 0.4s ease 0s;
              opacity: 0.7;
              }

              #twitter-widget-holder{ max-height:400px; max-width:320px; padding:20px; background:#fff; border-radius:3px; box-shadow:2px 2px 3px rgba(0,0,0,.1); }


              @media screen and (min-width: 800px) {
                .iconsmissions i {
                    font-size: 30px;
                    padding: 5px;
                }

                
            
            }